/* All */
body {
  padding: 10%;
  margin: 0;
  background: #512C57;
}

a {
  text-decoration: none;
}

/* Header */
.header-logo {
  width: 100px;
}

/* Intro */
.intro {
  background: #8B335B;
  color: #FFF;
}

.up {
  text-transform: uppercase;
  color: #F47386;
}

/* About */
.about {
  background: #C44057;
}

/* Contact */
.contact {
  background: #683057;
}

/* Footer */
.footer {
  background: #512C57;
}

/* Larger Screens */
@media (min-width: 600px) {
  .header-logo {
    width: 150px;
  }
}
