@import url("//hello.myfonts.net/count/3aef1f"); /* Pull in Gilroy from MyFonts */

/**
 * YupGup.com 2.0 - Endler, the Flying Fish of Doom 🐟
 *
*/

:root {
  /* Colors */
  --brand1       : #8C0355;

  --color1       : #066FE0;
  --color2       : #017B65;
  --color3       : #FAB3A9;
  --color4       : #EFF3F7;
  --color5       : #085C78;
  --color6       : #19535F;
  --color7       : #594AC6;
  --color8       : #FE692F;
  --text-color   : #2D2F2A;

  /* Typography */
  --font-body: 'Gilroy',sans-serif;
  --font-size: 16px;

  --h1-font-size: 2.6rem;
  --h2-font-size: 2.15rem;
  --h3-font-size: 1.8rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1.05rem;

  /* Spacing & Grid */
  --max-width: 1360px;
  --gutters: 20px;
  --content-width: calc(var(--max-width) - (var(--gutters) * 2));
  --space: 1rem;
  --col-gap: calc(var(--space) * 2);

  /* Element Styles */
  --form-elem-height: 50px;
  --form-elem-padding: .35em .75em;
  --form-elem-border: 2px solid var(--text-color);
  --border-radius: 5px;
  --hr-border: 2px solid var(--color3);
  --cta-bar-height: 10px;
  --cta-font-size: 1.5rem;

  --card-border: 1px solid #E2DFDF;
}

/* 💣 RESET
 * Reset provided by our friend Andy Bell
 * Check it, yo: https://hankchizljaw.com/wrote/a-modern-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.65;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: var(--space);
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 📖 Typography
 *
*/

/* URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular/ */
@font-face {font-family: 'Gilroy';font-weight: normal;font-style: normal;src: url('/fonts/3AEF1F_0_0.eot');src: url('/fonts/3AEF1F_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/3AEF1F_0_0.woff2') format('woff2'),url('/fonts/3AEF1F_0_0.woff') format('woff'),url('/fonts/3AEF1F_0_0.ttf') format('truetype');}

/* URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/extra-bold/ */
@font-face {font-family: 'Gilroy';font-weight: bold;font-style: normal;src: url('/fonts/3AEF1F_1_0.eot');src: url('/fonts/3AEF1F_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/3AEF1F_1_0.woff2') format('woff2'),url('/fonts/3AEF1F_1_0.woff') format('woff'),url('/fonts/3AEF1F_1_0.ttf') format('truetype');}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

h1, .h1 {
  font-size: var(--h1-font-size);
}

h2, .h2 {
  font-size: var(--h2-font-size);
}

h3, .h3 {
  font-size: var(--h3-font-size);
}

h4, .h4 {
  font-size: var(--h4-font-size);
}

p {
  margin-bottom: 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

/* 🧩 Elements
 * Little bits of things that make up the site.
*/

hr {
  margin: var(--space) 0;
  border-bottom: var(--hr-border);
}

hr.has-waves {
  display: block;
  height: 32px;

  border: none;
  background-image: url(/img/wave.svg);
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input:not([type='checkbox']),
input:not([type='radio']),
textarea,
select {
  width: 100%;
  padding: var(--form-elem-padding);
  border: var(--form-elem-border);
  border-radius: var(--border-radius);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/img/caret-down.svg') no-repeat right 14px center;
  background-size: 20px;
}

button,
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--form-elem-padding);
  border: none;
  border-radius: var(--border-radius);
  background: var(--brand1);
  text-decoration: none;
  color: #FFF;

  cursor: pointer;
}

label {
  display: block;
  margin-bottom: .35rem;
  font-weight: bold;
}

.lead {
  font-size: 1.25rem;
}

.cta {
  position: relative;
  display: inline-block;
  margin-bottom: calc(var(--space) + var(--cta-bar-height));
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.cta::before {
  position: absolute;
  left: 0;
  bottom: calc(-1 * var(--cta-bar-height));
  width: 100%;
  height: var(--cta-bar-height);
  background: var(--color3);
  content: "";
}

.more-cta {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

.more-cta::after {
  --size: 1em;
  position: relative;
  top: calc(50% - (var(--size) / 1.8));

  display: inline-block;
  margin-left: .25ch;

  width: var(--size);
  height: var(--size);

  background: currentColor;
  -webkit-mask-image: url('/img/caret-down.svg');
  mask-image: url('/img/caret-down.svg');
  -webkit-mask-size: contain;
  mask-size: contain;

  content: "";

  transform: rotate(-90deg);
}

.button-group {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

/* 🏗 Grid
 * Based on a 1260px max width for content. Max 3 columns.
*/

.container {
  margin: 0 auto;
  padding: 0 var(--gutters);
  max-width: var(--max-width);
}

.container.is-focal {
  --max-width: 48rem;
}

[class*="col-"] {
  display: flex;
  flex-direction: column;
  gap: var(--col-gap);
}

.double-gap {
  gap: calc(var(--col-gap) * 2);
}

.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }

.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }

/* Blocks
 * Basically DIVs. Huge content areas that contain sections.
*/

.block {
  padding: calc(var(--space) * 4) 0;
  background-color: var(--theme);
  color: var(--text-color);
}

.block-heading {
  margin-bottom: 1.5rem;
}

.subheading {
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  opacity: .6;
}

.block-header .cta {
  font-size: var(--cta-font-size);
}

.block-header > * {
  max-width: 40rem;
}

.block-media {
  position: relative;
}

/* Block Modifiers */
.has-subhead {
  display: flex;
  flex-direction: column;
}

.has-subhead > * {
  order: 1;
}

.has-subhead .subheading {
  order: 0;
}

/* Block Themes */
.theme-color1 { --theme: var(--color1); }
.theme-color2 { --theme: var(--color2); }
.theme-color3 { --theme: var(--color3); }
.theme-color4 { --theme: var(--color4); }
.theme-color5 { --theme: var(--color5); }
.theme-color6 { --theme: var(--color6); }

.theme-color1,
.theme-color2,
.theme-color5,
.theme-color6 {
  --text-color: #FFF;
}

/* 🌎 Page Themes
 * Main themes. Largely change the nav and hero of the page.
*/

.page-theme-1 { --page-theme: var(--color1); }
.page-theme-2 { --page-theme: var(--color2); }
.page-theme-3 { --page-theme: var(--color3); }
.page-theme-4 { --page-theme: var(--color4); }
.page-theme-5 { --page-theme: var(--color5); }
.page-theme-6 { --page-theme: var(--color6); }
.page-theme-7 { --page-theme: var(--color7); }

[class*="page-theme-"]
:is(.site-nav a, .hero, .hero a) {
  color: #FFF;
}

[class*="page-theme-"] .site-header .logo {
  background-color: #FFF;
}

/* 🍄 Modifiers
 * Generic modifiers that can be applied to most things.
*/
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

/* ??? - Should use --text-color? */
.color1 { color: var(--color1); }
.color2 { color: var(--color2); }
.color3 { color: var(--color3); }
.color4 { color: var(--color4); }
.color5 { color: var(--color5); }
.color6 { color: var(--color6); }
.color7 { color: var(--color7); }
.color8 { color: var(--color8); }


/* 📓 Long-Form Content Styles
 * Should be used for blog posts and any situation where content is length.
*/

.content > * + * {
  margin-top: 2rem;
}

.content > figure,
.gallery {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  :root {
    --font-size: 20px;
    --h1-font-size: 3.5rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  [class*="col-"] {
    display: grid;
    flex-direction: initial;
  }

  .col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .col-1fr-max {
    grid-template-columns: 1fr max-content;
  }

  .col-2\/1fr {
    grid-template-columns: 2fr 1fr;
  }

  .col-2-stretch {
    display: flex;
    flex-flow: row wrap;
  }

  .col-2-stretch > * {
    flex: calc(50% - var(--col-gap) / 2);
  }
}

@media (min-width: 920px) {
  .block {
    padding: calc(var(--space) * 6) 0;
  }
}

